[data-theme="dark"] {
  --bg-color: #181714;
  --txt-color: #F5FAFF; /*#FFFBF4;*/
  --line-color: #433F37;
  --fn-color: #534F47;
  --ft-txt-color: #F5FAFF; /*#FFFBF4;*/
  --lk-color: #0077EE;
  --hover-color: #CCE6FF; /*#CFC5B3;*/
  --bq-color: #75271E;
  --tb1-color: #47443B;
  --inline-cd-color: #37342E;
}

#title a:hover {
  color: var(--lk-color);
}

.icons:hover {
  color: var(--lk-color);
}
